$background: #D6DDE5;
$width: 264px;
// $ease: cubic-bezier(0.25, 0.46, 0.45, 0.94); // quad
// $ease: cubic-bezier(0.165, 0.84, 0.44, 1); // quart
// $ease: cubic-bezier(0.23, 1, 0.32, 1); //quint
$ease: cubic-bezier(0.39, 0.575, 0.565, 1); //sine
// $ease: cubic-bezier(0.19, 1, 0.22, 1); //expo
// $ease: cubic-bezier(0.075, 0.82, 0.165, 1); // circ

#domflags-panel {
  border-radius: 2px 0 0 0 !important;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.25) !important;
  bottom: 0 !important;
  color: #333 !important;
  // font-family: helvetica, sans-serif !important;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif !important;
  font-size: 10px !important;
  overflow: hidden !important;
  position: fixed !important;
  right: 0 !important;
  width: $width !important;
  -webkit-transition: all 0.2s $ease !important;
  transition: all 0.2s $ease !important;

  &.opened:hover {
    cursor: s-resize !important;
  }

  &.closed:hover {
    cursor: n-resize !important;
  }

  &, * {
    all: initial !important;
    background: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  header {
    background-image: -webkit-linear-gradient(#EFEFEF, #D9D9D9) !important;
    background-image:         linear-gradient(#EFEFEF, #D9D9D9) !important;
    border-bottom: 1px solid #969696 !important;
    color: #666 !important;
    font-size: 10px !important;
    padding: 3px 12px 3px 24px !important;
    text-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.5) !important;
    position: relative !important;

    &:before {
      content:'\2691' !important;
      position: absolute !important;
      top: 2px !important;
      font-size: 11px !important;
      left: 12px !important;
    }
  }

  ol {
    background: $background !important;
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
    padding-bottom: 2px !important;
  }

  li {
    cursor: pointer !important;
    max-width: $width !important;
    overflow: hidden !important;
    padding: 5px 12px !important;
    position: relative !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;

    &:hover {
      color: #fff !important;
      background-image: -webkit-linear-gradient(#5C93D5, #1553AA) !important;
      background-image:         linear-gradient(#5C93D5, #1553AA) !important;
      box-shadow: 0 -1px 0 #4480C8 !important;
      text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.33) !important;
    }
  }
}
