$background: #D6DDE5;
$width: 264px;

#domflags-panel {
  border-radius: 2px 0 0 0;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.25);
  bottom: 0;
  color: #333;
  font-family: helvetica, sans-serif;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;;
  font-size: 10px;
  overflow: hidden;
  position: fixed;
  right: 0;
  width: $width;

  header {
    background-image: -webkit-linear-gradient(#EFEFEF, #D9D9D9);
    background-image:         linear-gradient(#EFEFEF, #D9D9D9);
    border-bottom: 1px solid #969696;
    color: #666;
    font-size: 10px;
    padding: 3px 12px 3px 24px;
    text-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.5);
    position: relative;

    &:before {
      content:'\2691';
      position: absolute;
      top: 2px;
      font-size: 11px;
      left: 12px;
    }
    span.icon {
      font-size: 9px;
    }
  }

  ol {
    background: $background;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      cursor: pointer;
      max-width: $width;
      overflow: hidden;
      padding: 5px 12px;
      position: relative;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        color: #fff;
        background-image: -webkit-linear-gradient(#5C93D5, #1553AA);
        background-image:         linear-gradient(#5C93D5, #1553AA);
        box-shadow: 0 -1px 0 #4480C8;
        text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.33);
      }
    }
  }
}
