html {
  margin: 0; }

body {
  background: #efefef;
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  margin: 0 auto;
  padding: 20px 20px 10px 20px;
  width: 350px; }

section.main {
  background: #fff;
  border: 1px solid #c0c0c0;
  border-top-color: #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  color: #444;
  font-size: 16px;
  overflow: hidden;
  text-rendering: optimizeLegibility; }

header {
  background: #fafafa;
  border-bottom: 1px solid #EAEAEA;
  padding: 14px 20px 8px; }
  header h1 {
    background: url("/icons/icon48.png") no-repeat;
    background-position: left 10%;
    background-size: 22px;
    color: #555;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding-left: 34px; }

p {
  margin-top: 0; }

fieldset {
  border: 0;
  padding: 0; }

div.input {
  margin-bottom: 5px;
  line-height: 1.3em; }

fieldset.auto-inspect p {
  font-weight: 600;
  margin-bottom: 0.6em; }
fieldset.auto-inspect div {
  margin-left: 5px; }

form {
  padding: 20px; }

label {
  margin: 10px 0;
  position: relative; }
  label input[type="checkbox"] {
    left: 0;
    position: absolute;
    top: 3px; }
  label span {
    display: inline-block;
    vertical-align: top;
    margin-left: 28px; }

footer {
  font-size: 12px;
  text-align: center;
  padding: 10px 0 0; }
  footer a {
    color: #999; }
    footer a:first-child {
      margin-right: 10px; }
