html {
  margin: 0;
}

body {
  background: #efefef;
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  margin: 0 auto;
  padding: 20px 20px 10px 20px;
  width: 375px;
}

section.main {
  background: #fff;
  border: 1px solid #c0c0c0;
  border-top-color: #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.12);
  color: #444;
  font-size: 16px;
  overflow: hidden;
  text-rendering: optimizeLegibility;
}

header {
  background: #fafafa;
  border-bottom: 1px solid #EAEAEA;
  padding: 14px 20px 8px;
  position: relative;

  h1 {
    background: url("/icons/icon48.png") no-repeat;
    background-position: left 10%;
    background-size: 22px;
    color: #555;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding-left: 34px;
  }
}

p {
  margin-top: 0;
}

form {
  padding: 20px;
  border-bottom: 1px solid #EAEAEA;

  &.hide-empty-panel {
    padding: 14px 20px 11px;
  }
}

fieldset {
  border: 0;
  padding: 0;

  > div:only-of-type {
    margin-bottom: 0;
  }

  div.input {
    margin-left: 5px;
  }
}

p.title {
  font-weight: 600;
  margin-bottom: 0.6em;
}

div.input {
  margin-bottom: 5px;
  line-height: 1.3em;
}

label {
  font-size: 0.95rem;
  margin: 10px 0;
  position: relative;

  input[type="checkbox"] {
    left: 0;
    position: absolute;
    top: 1px;
  }

  span {
    display: inline-block;
    vertical-align: top;
    margin-left: 28px;
  }
}

section.keyboard-shortcuts {
  font-size: 0.78rem;
  padding: 20px;

  ul {
    list-style: none;
    margin: 0;
    padding-left: 10px;
  }

  li {
    margin-bottom: 0.3em;
  }

  i {
    font-weight: 600;
  }

  .small {
    color: #999;
    font-size: 0.70rem;
    margin-top: 14px;
    margin-bottom: 0;

    span {
      border-bottom: 1px solid #ddd;
    }
  }
}

footer {
  text-align: center;
  padding: 6px 20px 2px;

  span {
    font-size: 11px;
    color: #aaa;
  }

  a {
    $m: 5px;
    border-bottom: 1px solid transparent;
    color: #999;
    font-size: 11px;
    line-height: 1;
    text-decoration: none;
    margin-left: $m;
    margin-right: $m;

    &:hover {
      border-color: #bbb;
    }

    &:first-of-type {
      margin-right: $m;
      margin-left: 0;
    }

    &:last-of-type {
      margin-left: $m;
      margin-right: 0;
    }
  }
}
