#domflags-panel {
  border-radius: 2px 0 0 0 !important;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) !important;
  bottom: 0 !important;
  color: #333 !important;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif !important;
  font-size: 10px !important;
  overflow: hidden !important;
  position: fixed !important;
  right: 0 !important;
  width: 264px !important;
  -webkit-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) !important;
  transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) !important; }
  #domflags-panel.opened:hover {
    cursor: s-resize !important; }
  #domflags-panel.closed:hover {
    cursor: n-resize !important; }
  #domflags-panel, #domflags-panel * {
    all: initial !important;
    background: none !important;
    padding: 0 !important;
    margin: 0 !important; }
  #domflags-panel header {
    background-image: -webkit-linear-gradient(#efefef, #d9d9d9) !important;
    background-image: linear-gradient(#efefef, #d9d9d9) !important;
    border-bottom: 1px solid #969696 !important;
    color: #666 !important;
    font-size: 10px !important;
    padding: 3px 12px 3px 24px !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) !important;
    position: relative !important; }
    #domflags-panel header:before {
      content: '\2691' !important;
      position: absolute !important;
      top: 2px !important;
      font-size: 11px !important;
      left: 12px !important; }
  #domflags-panel ol {
    background: #d6dde5 !important;
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
    padding-bottom: 2px !important; }
  #domflags-panel li {
    cursor: pointer !important;
    max-width: 264px !important;
    overflow: hidden !important;
    padding: 5px 12px !important;
    position: relative !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important; }
    #domflags-panel li:hover {
      color: #fff !important;
      background-image: -webkit-linear-gradient(#5c93d5, #1553aa) !important;
      background-image: linear-gradient(#5c93d5, #1553aa) !important;
      box-shadow: 0 -1px 0 #4480C8 !important;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.33) !important; }
